@charset "utf-8";




.wrap{
	width:50%;
	margin:0 auto;
	text-align:center;
}




.search-tab{
	display:flex;
	flex-direction:row;
	background:#FFF;
}
.search-cate{
	flex:1;
}
.search-cate>p{
	font-size:16px;
}


